html, body { min-height: 100vh; }

body { background-color: #65624b; }

main {
  padding-top: 30px;
  max-width: 1200px;
  margin: auto !important;
}

.title { color: inherit; }
.subtitle { color: inherit; }
.content { color: inherit; }
.table { color: inherit; background-color: inherit; }

nav.nav { background: #b1cae2; }
.json-pretty,
.filter,
.CodeMirror {
  height: auto;
  background: transparent !important;
  color: white !important;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 1rem;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
}
.json-pretty { padding: 1rem; }

.card {
  margin: 12px 12px 12px 0;
}
